language: c
sudo: false

branches:
  only:
    - master

env:
  global:
    - RACKET_DIR=~/racket
  matrix:
    - RACKET_VERSION=6.12
    - RACKET_VERSION=HEAD

matrix:
  allow_failures:
   - env: RACKET_VERSION=HEAD
#  fast_finish: true

before_install:
- git clone https://github.com/greghendershott/travis-racket.git ~/travis-racket
- cat ~/travis-racket/install-racket.sh | bash
- export PATH="${RACKET_DIR}/bin:${PATH}"

install:
- raco pkg install --auto --name neuron $TRAVIS_BUILD_DIR

before_script:

# Here supply steps such as raco make, raco test, etc.  You can run
# `raco pkg install --deps search-auto` to install any required
# packages without it getting stuck on a confirmation prompt.
script:
 - raco test -x -n neuron

after_success:
 - raco setup --check-pkg-deps --pkgs neuron
 - raco pkg install --deps search-auto cover cover-coveralls
 - raco cover -b -f coveralls -d $TRAVIS_BUILD_DIR/coverage .
